<div class="container-fluid">
  <div class="container" >
      <div class="col-md-6 col-lg-offset-3 transparent-bgd">
        <h3 class="dark-grey" align="center">Registration</h3>

        <form class="form-group" [formGroup]="form" (ngSubmit)="register()" novalidate>
          <div class="form-group col-md-6 col-lg-offset-3">
              <label>Username</label>
              <input type="text" formControlName="verifyNickName" [(ngModel)]="username" name="username" class="form-control" >
              <div class="alert" align="center" *ngIf="!form.controls['verifyNickName'].valid && form.controls['verifyNickName'].touched"
                   style="background: lightcyan ">This is required</div>
          </div>

          <div class="form-group col-md-6 col-lg-offset-3">
            <label>Email Address</label>
            <input type="email" formControlName="verifyEmail" class="form-control" email="true" [(ngModel)]="email" name="email">
            <div class="alert" align="center" *ngIf="!form.controls['verifyEmail'].valid && form.controls['verifyEmail'].touched"
                 style="background: lightcyan ">This has to be an valid email address</div>
          </div>


          <div class="form-group col-lg-6 col-lg-offset-3">
            <label>Password</label>
            <input type="password" formControlName="verifyPassword"  class="form-control" [(ngModel)]="password" name="password">
            <div class="alert" align="center" *ngIf="!form.controls['verifyPassword'].valid && form.controls['verifyPassword'].touched"
                 style="background: lightcyan ">Password need to be minimum of 8 characters</div>
          </div>


          <div class="form-group col-lg-6 col-lg-offset-3">
            <label>Mobile Phone</label>
            <input type="text" formControlName="verifyPhone" name="phone" placeholder="Optional" class="form-control" [(ngModel)]="phone" name="phone">
          </div>

          <div class="form-group col-lg-6 col-lg-offset-3">

            <a align="right" class="clickable-link" (click)="login()" >Already have an account? Click here to login </a>
            <div class="container">
              <input type="submit" class="btn btn-primary col-lg-offset-3" [disabled]="!form.valid" value="Register">
              <div  *ngIf = "display" class="text-danger" >{{err}}</div>
            </div>
          </div>



        </form>
     </div>
  </div>
</div>
