<app-nav-bar></app-nav-bar>
<h4 align="center">Buying Goods</h4>
<legend class="col-sm-12"></legend>

<div class="container col-sm-12 transparent-bgd">
<div class="container col-sm-2">
  <li style="list-style-type: none;">
    <ul class="btn btn-primary" (click)="newBuyPost()">Post Yours!</ul>
  </li>
</div>

<div class="container col-md-10 pull-right">
  <table id="want-post-table" class="table table-striped">
    <thead>
    <tr>
      <th>Title</th>
      <th>Wanted By</th>
      <th>Type</th>
      <th>Status</th>
      <th>Post Date</th>
    </tr>
    </thead>
    <tbody id="want-post-tbody" >
    <tr *ngFor="let wantPost of wantPosts">
      <td class="btn" style="text-decoration: underline; color: blue;" (click)="viewPost(wantPost.postId)">{{wantPost.title}}</td>
      <td>{{wantPost.postEmail}}</td>
      <td>{{wantPost.typeId.type}}</td>
      <td>{{wantPost.statusId.status}}</td>
      <td>{{wantPost.postDate | date: "medium"}}</td>
    </tr>
    </tbody>
  </table>
</div>
</div>
