<app-nav-bar></app-nav-bar>



<div class="container-fluid col-md-10 col-md-offset-1">
  <h4 align="center">My Post History</h4>
  <legend class="col-sm-12"></legend>


  <div class="container col-md-12">
    <mat-table #table="matSort" [dataSource]="dataSource1" matSort>

      <!-- Position Column -->
      <ng-container matColumnDef="postId" >
        <mat-header-cell *matHeaderCellDef mat-sort-header > Post ID </mat-header-cell>
        <mat-cell *matCellDef="let post"  > {{post.postId}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef mat-sort-header > Title </mat-header-cell>
        <mat-cell class="btn-link" *matCellDef="let post"  (click)="viewPost(post.postId)"> {{post.title}} </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container  matColumnDef="typeId.type">
        <mat-header-cell *matHeaderCellDef mat-sort-header > Type </mat-header-cell>
        <mat-cell *matCellDef="let post"> {{post.typeId.type}} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="statusId.status">
        <mat-header-cell *matHeaderCellDef mat-sort-header > Status </mat-header-cell>
        <mat-cell *matCellDef="let post"> {{post.statusId.status}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="postDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header > Date </mat-header-cell>
        <mat-cell *matCellDef="let post"> {{post.postDate | date: "medium"}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns1"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns1;"></mat-row>
    </mat-table>
  </div>
</div>
