<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- necessary block-->
        <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
        <!--<property name="hibernate.connection.username">ajduet</property>
        <property name="hibernate.connection.password">passw0rd</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@oct23java.cy0du1iivwoh.us-east-1.rds.amazonaws.com:1521:ORCL</property>-->
        <property name="hibernate.connection.username">junli</property>
        <property name="hibernate.connection.password">cc554336233</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@oct23javajunli.clwojcu9sv3n.us-east-2.rds.amazonaws.com:1521:ORCL</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
        <property name="hibernate.show_sql">true</property>

        <!-- declare our mapping -->
        <mapping class="com.ex.model.Account"/>
        <mapping class="com.ex.model.Post"/>
        <mapping class="com.ex.model.Image"/>
    </session-factory>
</hibernate-configuration>