<nav class="navbar navbar-default">
  <div class="container-fluid">

    <ul class="nav navbar-nav">
      <li class="btn"><a (click)="goHome()">Home</a></li>
      <li class="btn"><a (click)="buy()">Buy Stuff</a></li>
      <li class="btn"><a (click)="sell()">Sell Stuff</a></li>
      <li class="btn"><a (click)="viewProfile()">Profile</a> </li>
      <li class="btn"><a (click)="viewHistory()">View Post History</a></li>
    </ul>
    <ul class="nav nav-bar-nav navbar-right">
      <li class="btn"><a (click)="logout()"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
