<app-nav-bar></app-nav-bar>

<div class="container col-md-12 transparent-bgd">
  <div class="container col-md-3">
    <h4 style="padding-top: 4%">Filters: </h4><br>

    <div class="row form-inline">
      <label class="col-md-1">Type:</label>
      <select id="post-type-select" class="form-control col-md-2 col-md-offset-1" ([ngModel])="filterType" required>
        <option value="3" selected="selected">All</option>
        <option value="1">Sale</option>
        <option value="2">Want</option>
      </select>
    </div>
    <div class="row form-inline">
      <label class="col-md-1">City: </label>
      <input type="text" class="form-control col-md-2 col-md-offset-1" name="city-filter" placeholder="city">
    </div>

    <div class="row form-inline">
      <label class="col-md-1">State: </label>
      <input type="text" class="form-control col-md-2 col-md-offset-1" name="state-filter" placeholder="state">
    </div>
    <div class="row form-inline">
      <label class="col-md-1">Zip: </label>
      <input type="text" class="form-control col-md-2 col-md-offset-1" name="zip-filter" placeholder="zip">
    </div>


    <button class="btn btn-primary col-md-offset-6" type="button">Apply</button>

  </div>
  <div class="container col-md-9" style="margin-bottom: 2%">
    <div class="row" style="padding-top: 1%">
      <div class="input-group col-md-6 col-md-offset-1" >
        <input type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
        <button class="btn btn-search" type="button"><i class="fa fa-search fa-fw"></i> Search</button>
      </span>
      </div>
    </div>

    <div class="row" style="padding: 2%">
      <mat-grid-list cols="5" rowHeight="1:1">
        <!--<mat-grid-tile>1</mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
        <mat-grid-tile>1</mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>-->
        <mat-grid-tile *ngFor="let post of posts | paginate: {itemsPerPage:20, currentPage: p}">
          {{post.imgUrl}}
          {{post.title}}
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <div class="row">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>

  </div>
</div>


