.transparent-bgd{
  background:rgba(255,255,255,0.8);
  padding: 4%;
}
.btn-search {
  background: #424242;
  border-radius: 0;
  color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #1c1c1c;
}
.btn-search:link, .btn-search:visited {
  color: #fff;
}
.btn-search:active, .btn-search:hover {
  background: #1c1c1c;
  color: #fff;
}
.mat-grid-tile {
  background: whitesmoke;
}

div .form-inline{
  padding-bottom: 2%;
}

.img-container{
  margin-top: 0px;
}
.post-img {
  margin-left:auto;
  margin-right: auto;
  text-align: center;
  vertical-align: top;
  display: block;
  height: 140px;
}
